.header-container {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #ececec;
}

.menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transit-dur-func);
}

.menu__link:hover,
.menu__link:focus {
    color: var(--accent-color);
}

.menu {
    list-style: none;
    display: flex;
    align-items: stretch;
    column-gap: 50px;
}

.menu__link.menu__link_current {
    color: var(--accent-color);
    position: relative;
}

.menu__link.menu__link_current::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color var(--transit-dur-func);
}

.header-contacts {
    list-style: none;
    margin-left: auto;
    display: flex;
    column-gap: 50px;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--accent-color);
}

.menu__item {
    column-gap: 50px;
}

.header-contacts__envelope-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-contacts__smartphone-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-contacts__envelope-box {
    display: flex;
    align-items: center;
}

.header-contacts__smartphone-box {
    display: flex;
    align-items: center;
}