.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    margin-right: 95px;

    &_header-black {
        color: var(--logo-header-color);
    }

    &_footer {
        margin-right: 0px;
    }

    &_footer-white {
        color: var(--text-color-hero);
    }
}