:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --primary-bg-color: #ffffff;
    --text-color-hero: #ffffff;
    --bg-color-foother: #2f303a;
    --outside-color: #f5f5f5;
    --team-bg-color: #f5f4fa;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --logo-header-color: #000000;
    --transit-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}